@charset "utf-8";
/* CSS Document */

.submenu ul a .blueB{color:#036EB7; font-weight: 700;}

.banner{position:relative;
min-width:1200px;
margin:auto;
	height:250px;
text-align:center;
background-image:url(file:///D:/otooro/images/company/banner_company.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.banner_title{font-size:50px; font-weight: 700; color:#000; padding:53px 0;}

.banner_subtitle{font-size:25px; font-weight: 700; color:#000; line-height: 36px;  padding:20px 0;}


.submenu_warp{
	position:relative;
min-width:1200px;
margin:auto;
	height:70px;
	border-bottom:1px solid #D8D8D8;
	margin-bottom: 80px;
}


.submenu{
	width:1200px;
	height:75px;
	margin:auto;
text-align:center;
}

.submenu ul{text-align: center;}
.submenu ul a li{display:inline-block; padding:27px 30px; font-size:16px; font-weight:400;  color:#000;}
.submenu ul a li:hover {color:#036EB7; font-weight:700; }


#contents_warp{
	position:relative;
	min-width:1200px;
	text-align:center;
	 padding-bottom: 200px;
}
.contents{
	width:1200px;
	font-size:15px;
	color:#000;
	height:auto;
	margin:auto;
	text-align:center;
	
}
.h_title{font-size:40px; font-weight: 700; padding-bottom:80px;line-height: 55px;}

.part01{font-size:15px; color:#000; font-weight: 400; line-height: 22px; text-align: left; width:1200px; display: inline-block; padding-bottom: 50px;}

.part02{font-size:15px; color:#000; font-weight: 400; line-height: 22px; text-align: left; width:1200px; display: inline-block;}

.part_title{font-size:25px; color:#036EB7; font-weight: 700; padding:0 0 20px 0;}
.part_img1{float: left; padding-right: 40px;}
.part_img2{float: right; margin:105px 125px 0 0;}
