@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

 @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}



@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}



@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}



@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}



@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}



@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

html{height:100%; margin:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,table,fieldset,textarea,p,select,blockquote,th,td,a { margin:0;padding:0;border:0;font-size:12px;font-family: 'Noto Sans KR','Nanum Gothic','NanumGothic','나눔고딕', sans-serif;line-height:1em;color:#454545;}
body{position:relative; width:100%;font-size:15px; height:100%;}



li{list-style:none}

/* basic-alink */
a{cursor:pointer;}
a:link{text-decoration:none}
a:visited{text-decoration:none}
a:active{text-decoration:none;outline:none}
a:hover, 
a:focus{text-decoration:none}


.font18{font-size:18px;}
.font20{font-size:20px;}
.font22{font-size:22px;}
.font25{font-size:25px;}
.font30{font-size:30px;}
.font35{font-size:35px;}
.colorW{color:#fff;}
.fontB{font-weight: 700;}
.fontR{font-weight: 400;}



/* ------메뉴------*/
header {position: relative; width:1200px; margin:auto;}
header .top{ width:1200px; height: 35px; border-bottom:1px solid #e4e4e4;}
header .top ul li{ padding:10px 0 0 15px; 
font-weight: 500;
font-size: 11px;
line-height: 16px; color:#707070; float:right;}
header .top ul li:first-child{margin-right:20px;}
header .top ul li a:hover{color:#036EB7;}


header nav {height:73px; widht:1200px; position:relative;} 
header nav .logo{float:left; margin:auto; padding:15px 0 0 20px;}
header nav .gbn{float: right; margin:auto;}

header nav .gbn ul li {padding:25px 40px 25px 40px; float:left;}
header nav .gbn ul li a{font-family: 'Noto Sans KR';
font-weight: 500;
font-size: 16px;
line-height: 23px;color:#707070; }

header nav .gbn ul li:last-child {padding:25px 20px 25px 40px;}

header nav .gbn ul li a:hover {color:#036EB7; cursor: pointer;}

header nav .gbn ul li ul.sub_gbn{position: absolute;
margin-top:25px;
	z-index: 1;
background: rgba(255, 255, 255, 0.77);display: none;}


header nav .gbn ul li ul.sub_gbn li{margin:auto;padding:0 20px 0 20px;	}
header nav .gbn ul li ul.sub_gbn li a{font-weight: 500;font-size: 18px;line-height: 55px; color:#bbb;}
header nav .gbn ul li ul.sub_gbn li:hover{ background-color:#036EB7; color: #fff;font-weight: bold; display: block; }
header nav .gbn ul li ul.sub_gbn li:hover a{color: #fff;}
header nav .gbn ul li:hover .sub_gbn{display:block; cursor: pointer;}





/* ------배너------*/
.main_banner{position: relative; min-width: 1200px; height:550px ;background-image:url(file:///D:/otooro/images/main_banner.jpg);
background-size: cover;
    background-position: center;}

.main_banner .banner_txt{
	position: relative; width:1200px; margin:auto;
padding:138px 0 0 0;
}
.banner_txt .line{border-bottom: 1px solid #fff; width:37px;}
.banner_txt .txt1{font-family: 'Noto Sans KR'; font-weight: 400; color:#fff; font-size:30px; padding:10px 0 10px 0;}
.banner_txt .txt2{font-family: 'Noto Sans KR'; font-weight: 400; color:#fff; font-size:55px;}



/* ------연락 문의------*/
#sub01_wrap { 
	position:relative;
	min-width: 1440px;
	font-size:25px;
	font-weight:700;
	margin:auto;
	margin-bottom: 100px;
	text-align:center
}
.sub01{
	width:1440px;
	margin:auto;
	height:110px;
	display: inline-block;
}
.contact1{
    width: 470px;
    height: 110px;
    background-color: #036EB7;
	float:left;
}

.contact_txt1{
font-weight: 700;
    text-align: right;
    padding: 38px;
    font-size: 25px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}


.contact2{
	width: 520px;
	height:110px;
	background-color:#3AAE36;
	color:#fff;
	float:left;
}
.contact_txt2{
font-weight: 700;
    text-align: right;
    padding: 38px 50px 38px 50px;
    font-size: 25px;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.contact3{
	width: 450px;
	height:110px;
	background-color:#FAE300;
	float:left;
}

.contact_txt3{
font-weight: 700;
    padding: 23px;
    line-height: 62px;
    font-size: 25px;
    color: #391B1B;
    display: flex;
    justify-content: flex-start;
}
.ask_btn{font-size:15px; font-weight:400; padding:0px 20px; border:1px solid #fff; border-radius: 20px; margin-top: -5px; display: flex;
    align-items: center;}



/* ------제품 카테고리------*/
#sub02_warp{
  	position: relative;
	margin:auto;
	min-width: 1200px;
	height:auto;
	margin-bottom: 100px;
	text-align:center;
}

.sub02{
	width:1200px;
	margin:auto;
	display:inline-block;

}
.product{
	float:left;
	padding:15px 15px 0px 15px;
	background-color:#036EB7;
width: 260px;
height: 270px;
font-family: Noto Sans KR;
font-weight: 700;
font-size: 25px;
line-height: 30px;
color: #FFFFFF;
	margin-right:10px;
	text-align:left;
}
.product img{
	margin-top:35px;
	margin-left:-15px;
}


/* ------산소야 놀자 카테고리 ------*/
#sub03_warp{
    position: relative;
	margin:auto;
	min-width: 1200px;
	height:900px;
	background-color:#A9DAF6;
	}

.sub03{
	position: relative;
	margin:auto;
	width:1200px;
	height:900px;
	
}

.sub03_01{
	width: 410px;
	height: 900px;
	float: left;
	color:#fff;
	padding: 90px 0 0 0;
}
.sub03_01 img{padding-bottom:20px;}

 .sub03_02{
	width: 690px;
    height: 660px;
	float:right;
	padding: 120px 0;
    display: inline-block;
}


.ox2_bg{
	background-color:rgba(3,110,183,0.5);
	width:330px; 
	height:300px; 
	position: absolute;

}

.sub03_02_01{
	width:330px;
	height:300px;
	text-align:center;
	background-image: url(file:///D:/otooro/images/o2_01.jpg); 
	background-repeat: no-repeat;
	padding-bottom:30px;
	float:left;
	
}

 .sub03_02_02{
	width:330px;
	height:300px;
	text-align:center;
	background-image: url(file:///D:/otooro/images/o2_02.jpg); 
	background-repeat: no-repeat;
	padding-bottom:30px;
	float:right;
}

.sub03_02_03{
	width:330px;
	height:300px;
	text-align:center;
	background-image: url(file:///D:/otooro/images/o2_03.jpg);
	float:left;
}

.sub03_02_04{
	width:330px;
	height:300px;
	text-align:center;
	background-image: url(file:///D:/otooro/images/o2_04.jpg); 
	float:right;
	
}

.ox2_title{
	font-family: 'Noto Sans KR';
	font-size:30px;
	font-weight:700;
	color:#fff;
}


.ox2_title{
	line-height: 35px;
    position: relative;
    z-index: 1000;
    padding-top: 75px;}


/* ------공지사항------*/

#sub04_warp{
    position: relative;
	margin:auto;
	min-width: 1200px;
	height:auto;
	background-color:#F8F8F8;
	text-align: center;
	padding-bottom: 100px;
	}


 .sub04_title{
width: 166px;
    margin: auto;
    font-size: 40px;
    font-weight: 700;
    color: #036EB7;
    padding: 80px 0px;	
}

.main_notice{
	position: relative;
	margin:auto;
	width:1200px;
	height:auto;
	text-align:center;
	background-color:#fff;
	border-top:10px solid #89BC3F;
}

.main_notice ul a li {
    position: relative;
    border-bottom: 1px solid #DADADA;
    height: 30px;
	padding:25px 30px;
}

.nt_title{font-size:25px; font-weight: 400; float:left; line-height:30px; }
.nt_date{font-size:24px; font-weight: 400; float:right;  line-height:30px;}
.more{
	width: 1200px;
    margin: auto;
    color: #707070;
    text-align: right;
    padding-top: 20px;
}


/* ------footer------*/

#footer_warp{position:relative;
    bottom:0;
	left:0;
	min-width:1200px;
	height:245px;
	background-color:#fff;
	color:#494949;
	border-top:1px solid #bbb;

}

.footer{position:relative; width:1200px; margin:auto; padding:50px 0;}
.f_logo{float:left; padding:0;}
.f_contents{float:right;}
.f_txt1 {padding-bottom: 30px;}
.f_txt2 {font-size:12px; font-weight: 400;line-height: 20px;}
.f_txt1 a{font-size:14px; font-weight: 400;}
